.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.topDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}
.titleSeguros, .historial{
    font-size: 3.5vw;
    font-weight: 400;
    color: #ebe6ea;
    text-align: center;
    padding: 1vw;
}
.historial {
    cursor: pointer;
}
.historial:hover {
    transform: scale(1.2);
}
.containerCotizador {
    width: 70%;
}
.cotizador {
    width: 100%;
    background-color: #c8ad8d;
    padding: 1vw;
    border-radius: 0.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    box-shadow: 0 0 2vw #c4c4c42a;
}
.title {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 3vw;
    font-weight: 100;
}
#datosSolicitados {
    color: #273a2d;
    font-weight: 100;
}
.div-cotizador {
    width: 80%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.label {
    display: flex;
    justify-content: center;
    font-size: 1.5vw;
    font-weight: 500;
    color: #273a2d;
}
.select {
    width: 100%;
    height: 2.5vw;
    border-radius: 0.5vw;
    border: 0.1vw solid #ebe6ea;
    font-size: 1.1vw;
    text-align: center;
}
.select:focus, .select:hover {
    border: 0.2vw solid #273a2d;
}
.btnContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}
.btnCotizar {
    border: 0.1vw solid #273a2d;
    background-color: #fff;
    height: 3vw;
    font-size: 1.1vw;
    cursor: pointer;
    border-radius: 0.5vw;
    width: 15%;
}
.btnCotizar:hover {
    background-color: #273a2d;
    color: #ebe6ea;
    font-size: 1.3vw;
}
.cotizacionResultado {
    width: 100%;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}
.precioEstimado {
    font-weight: bold;
    color: #273a2d;
    font-size: 1.7vw;
}
.btnHistorial, .btnBorrarHistorial{
    cursor: pointer;
    font-size: 1.7vw;
    margin-bottom: 0.5vw;
}
.btnHistorial:hover, .btnBorrarHistorial:hover {
    transform: scale(1.2);
}