* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.root, .historialRoot {
    width: 100%;
    min-height: 100vh;
    background-color: #6f7357;
    display: flex;
    align-items: center;
}

.historialRoot {
    height: 100%;
}